# Empty CSS file for your own CSS
#Profile{
	color: lightblue
}


.list-group-item {
    padding: 5px 10px
}
a {
color-font:white;

}
.btn:active {
  outline-color: black;
}

#Pdescription {text-align: justify;}
