PagodaStlye

.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

html, body{
    background-color: black;
}

.Pagoda{
	background-color: black;
}