.sidebar{ /*Una sidebar que siempre recupera su derecho del dominio del lado izquierdo de la pagina sin importar las pretenciones de los otros div*/
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    width:200px;
    color: white;
    width:10%;
    display:inline-flexbox;
    clear:both;


     
    
}


*{margin: 0px;padding: 0px;}
#sidebar a:link{ color:#FFFFFF;}
#sidebar a:visited { color: #808080 }

/*.container img {
  width: 100%;
  
}*/



.header{
 /*  position: fixed;
   top: 0; */
   width: 90%;
   
 /* background-image: url(Guideline/CG6.jpg);
   background-size:  cover;
   background-repeat:no-repeat;
   background-position:center; 
   height:300px;
   right: 0px;
   margin-right: 0; */ 
 background-color : red;
position:relative;
float:right;
clear : none;
height : 300px;
vertical-align: top;

background-image: url(/Guideline/CG6.jpg);
background-repeat: no-repeat;
background-size: cover;


}
/*.Site Header y .Sitelogo sirven para posicionar mejor la imagen
    Funciona supuestamenete en todos los navegadores, y al cambiar el margen negativo
    se puede cambiar la parte de la imagen que se muestra*/





.leftContent{
    background-color:lightblue ;
    float: right;
    clear : initial;
    height: 100%;
    width: 60%;
    position:relative;
   }
.Descripcion{
  float: left;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.5);
  border-width:10px;  
 border-style:double;

}
.DescripcionWords{
  float : right;
  height: 100%;
  background-color: rgba(255, 0, 255, 0.5);
  border-width:10px;  
  border-style:double;
}

.rightContent{
    background-color : green;
float : right;
clear : none;
height : 100%;
width : 30%;
position: relative;
}

.postContent{
background-image: url('/Guideline/ScratchyZealousAfricanaugurbuzzard-size_restricted.gif');
background-repeat: no-repeat;
background-color: black;
background-size: cover;
float: right;
clear : initial;
height : 100%;
width : 60%;
position : relative;
}
.skillContent{
 
background-color: rgba(255, 255, 255, 0.5);
float : right;
clear : none;
height : 100%;
width : 29%;
position: relative;
border-width:10px;  
border-style:double;
}
.CVContent{
background-color : purple;
float: right;
clear : initial;
height : 100%;
width : 60%;
position : relative;
}
.TwitterContent{
background-color : black;
float : right;
clear : none;
height : 100%;
width : 30%;
position: relative;
left: 0%;
top: -390px;
}
#progressbar1 {
    background-color: #20201F;
    border-radius: 20px; /* (heightOfInnerDiv / 2) + padding */
    padding: 4px;
}
#progressbar1 > div {
    background-color: #F7901E;
    width: 90%; /* Adjust with JavaScript */
    height: 16px;
    border-radius: 10px;
}
#progressbar2 {
    background-color: #20201F;
    border-radius: 20px; /* (heightOfInnerDiv / 2) + padding */
    padding: 4px;
}
#progressbar2 > div {
    background-color: #F7901E;
    width: 40%; /* Adjust with JavaScript */
    height: 16px;
    border-radius: 10px;
}
#progressbar3 {
    background-color: #20201F;
    border-radius: 20px; /* (heightOfInnerDiv / 2) + padding */
    padding: 4px;
}
#progressbar3 > div {
    background-color: #F7901E;
    width: 8%; /* Adjust with JavaScript */
    height: 16px;
    border-radius: 10px;
}
#progressbar4 {
    background-color: #20201F;
    border-radius: 20px; /* (heightOfInnerDiv / 2) + padding */
    padding: 4px;
}
#progressbar4 > div {
    background-color: #F7901E;
    width: 0%; /* Adjust with JavaScript */
    height: 16px;
    border-radius: 10px;
}
#progressbar5 {
    background-color: #20201F;
    border-radius: 20px; /* (heightOfInnerDiv / 2) + padding */
    padding: 4px;
}
#progressbar5 > div {
    background-color: #F7901E;
    width: 20%; /* Adjust with JavaScript */
    height: 16px;
    border-radius: 10px;
}
#progressbar6 {
    background-color: #20201F;
    border-radius: 20px; /* (heightOfInnerDiv / 2) + padding */
    padding: 4px;
}
#progressbar6 > div {
    background-color: #F7901E;
    width: 40%; /* Adjust with JavaScript */
    height: 16px;
    border-radius: 10px;
}
#progressbar7 {
    background-color: #20201F;
    border-radius: 20px; /* (heightOfInnerDiv / 2) + padding */
    padding: 4px;
}
#progressbar7 > div {
    background-color: #F7901E;
    width: 38%; /* Adjust with JavaScript */
    height: 16px;
    border-radius: 10px;
}
#progressbar8 {
    background-color: #20201F;
    border-radius: 20px; /* (heightOfInnerDiv / 2) + padding */
    padding: 4px;
}
#progressbar8 > div {
    background-color: #F7901E;
    width: 38%; /* Adjust with JavaScript */
    height: 16px;
    border-radius: 10px;
}

footer{
float : right;
clear : none;
height : 100px;
width : 89%;
position: relative;
border-width:10px;  
border-style:double;
}

.eye{
  position: relative;
  width: 100px;
  height: 100px;
  margin: 4px;
  display: inline-block;
}

body{
background-image: url('/Guideline/ScratchyZealousAfricanaugurbuzzard-size_restricted.gif');
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}
.twitter-timeline {
    height: 1090px !important;
}





