PagodaStlye

.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

html, body{
    background-color: black;
}

.Pagoda{
	background-color: black;
	position: absolute;
}

.Angeles{
	 color: white;
	 float: right;
}
.Oracion{
	float: left;
    top: 0;
    left: 0;
    background-color: black;
    width:200px;
    color: black;
    width:10%;
    display:inline-flexbox;
    clear:both;

}