.Portada{
 /*  position: fixed;
   top: 0; */
   width: 100%;
   
 /* background-image: url(Guideline/CG6.jpg);
   background-size:  cover;
   background-repeat:no-repeat;
   background-position:center; 
   height:300px;
   right: 0px;
   margin-right: 0; */ 
 background-color : red;
position:relative;
float:right;
clear : none;
height : 300px;
vertical-align: top;

background-image: url('https://igazikenyer.github.io/Testing/Guideline/CG6.jpg');

background-repeat: no-repeat;
background-size: cover;


}
.Perfil{
	height: 150px;
	width:146px;
    float: left;
}
.Profile{

	float: right;
	position: relative;
	width: 100%;
	border-width: 10px;
    border-style: double;
    background-image: url('https://igazikenyer.github.io/Testing/Guideline/ScratchyZealousAfricanaugurbuzzard-size_restricted.gif');
}
.ColPerfil{
	width: 55%;
}
.InnerBox
{
     background-color: rgba(255, 255, 255, 0.9);
}
@media screen and (min-width: 1670px) {
    /* Styles go here */
    .Portada {
        background-position-y: -100px;
    }
}
.Datos
{
width: 45%;
background-image: url('https://igazikenyer.github.io/Testing/Guideline/ScratchyZealousAfricanaugurbuzzard-size_restricted.gif');
}